.wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

.header-column__addon {
  cursor: pointer;
}

.empty {
  text-align: center;
  font-weight: 600;
  color: #8b8b8b;
  margin: 2rem 0;
}
